.App {
  text-align: center;
}

#map-container {
  display: flex;
  width: 100%;
}

#filter-bar {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100px;
}

.drop-button {
  width: 80%;
  background-color: blue;
  color: #000;
  font-size: 12px;
  cursor: pointer;
}

.drop-button:hover,
.drop-button:focus {
  background-color: green;
}

#drop-list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  height: 300px;
  width: 100px;
  list-style: none;
  z-index: 1;
}

#list-title {
  width: 50px;
  padding-right: 20px;
}

#list-title:hover {
  background-color: #000;
  cursor: pointer;
}

#list-title:hover #drop-list {
  display: block;
}

.list-selection {
  padding-right: 20px;
  text-align: left;
}

.list-selection:hover {
  background-color: #000;
  cursor: pointer;
}

.show-all-button {
  color: #blue;
  font-size: 15px;
}

.show-all-button:hover {
  background-color: #000;
  cursor: pointer;
}

#main-map {
  position: absolute;
  top: 3em;
  width: 100%;
  height: 90%;
  min-height: 200px;
}

.info-window {
  height: 50px;
  width: 100px;
  font-size: 12px;
  color: gray;
}
